<!DOCTYPE html>
<html lang="ja">

<head>
<meta charset="UTF-8">
<title>{{ page.title }}</title>
<link rel="stylesheet" href="/tools/css/style.css">
</head>

<body>
{{ site.baseurl }}
<div id="header"><div class="site-header">
  <div class="site-title-group">
  <a href="{{ site.baseurl }}" class="site-header-inner">
      <img src="{{ site.baseurl }}/logo.png" class="site-logo" alt="Benri Tools ロゴ">
      <div class="site-title">便利ツール集</div><br>
  </a>
    
   
      
  </div>


  <div class="site-desc">無料でサクッと使えるシンプルな便利ツール集です</div>
</div>
<div class="header">
  <!--a href="/">← トップ</a>
  <a href="/apps/">ツール一覧</a-->
</div></div>

<main>
{{ content }}
</main>
<footer class="footer">
  <div class="footer-links">
    <a href="index.html">トップページ</a>
    <a href="./common/about.html">当サイトについて</a>
    <a href="./common/privacy.html">プライバシーポリシー</a>
    <a href="./common/terms.html">利用規約</a>
    <a href="./common/contact.html">お問い合わせ</a>
  </div>
  <div class="footer-copy">
    © benritools 2026
  </div>
</footer>
</body>
</html>
