---
layout: default
---
<script type="application/ld+json">
{
 "@context": "https://schema.org",
 "@type": "BlogPosting",
 "headline": "{{ page.title }}",
 "datePublished": "{{ page.date }}",
 "author": {
   "@type": "Person",
   "name": "BenriTools"
 },
 "url": "{{ page.url | absolute_url }}"
}
</script>

<div class="blog-header">
	<h1 class="blog-title">{{ page.title }}</h1>
	<span class="blog-label">📘 技術ブログ!!!</span>
	<p class="post-date">{{ page.date | date: "%Y-%m-%d" }}</p>
</div>

<article class="blog-content">

	{{ content }}

</article>

